


<!-- Fieldset legend -->
<div class="row">
    <div class="col-md-12">
        <!-- catogary Detail -->
        <form class="form-horizontal" action="#">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">catogary details</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <legend class="text-semibold"></legend>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">CatogaryCode:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="CatogaryCode">
                            </div>
                            </div>
                        
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Description:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="Description">
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label class="col-lg-3 control-label">Your message:</label>
                            <div class="col-lg-9">
                                <textarea rows="5" cols="5" class="form-control" placeholder="Enter your message here"></textarea>
                            </div>
                        </div>-->
                    </fieldset>
                
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <!-- /basic legend -->
    </div>
    
</div>
<!-- /fieldset legend -->