<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">City Data </h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li>  <a [routerLink]="['/cityAdd']">Add City Detail</a></li>
            </ul>
        </div>
    </div>
    <p>
    </p>
    <!--<div class="panel-body">
        Example of a <code>scrollable</code> table. To use a fixed height with scrolling, wrap any table in a div with <code>.pre-scrollable</code> class. Max height of the table container will be <code>340px</code> and table will get a vertical scrollbar if its height is move than this value.
    </div>-->

    <div class="table-responsive pre-scrollable">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CityCode</th>
                    <th>Description</th>

                </tr>
            </thead>
            <tbody>

            <tbody>
                <tr *ngFor="let BD of BrandList">
                    <td>{{BD.id}}</td>
                    <td>{{BD.CityCode }}</td>
                    <td>{{BD.Description }}</td>
                    <!--<td></td>-->
                    <td>
                    <td>
                        <a (click)="edit(BD.id)">Edit</a>
                        <a (click)="delete(BD.id)">Delete</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>