<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-lg-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
