
<!-- Fieldset legend -->
<div class="row">
    <div class="col-md-12">
        <!-- Brand Detail -->
        <form class="form-horizontal" [formGroup]="BrandForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Brand {{title}}</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>
               
                <div class="panel-body">
                    <fieldset>
                        <legend class="text-semibold"></legend>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Code:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="BrandCode" formControlName="code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">ColorCode:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="Colorcode" formControlName="colorcode" />
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label class="col-lg-3 control-label">Description:</label>
                            <div class="col-lg-9">-->
                                <!--<input type="text" class="form-control" placeholder="Description" formControlName="Description">-->
                            <!--</div>-->
                        </div>
                        <!--<div class="form-group">
            <label class="col-lg-3 control-label">Your message:</label>
            <div class="col-lg-9">
                <textarea rows="5" cols="5" class="form-control" placeholder="Enter your message here"></textarea>
            </div>
        </div>-->
                    </fieldset>
                   
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"ID="save"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <!-- /basic legend -->
    </div>
    
</div>
<!-- /fieldset legend -->